<section class="min-vh-100 d-flex justify-content-center align-items-center">
  <div>
    <div class="mb-4">
      <p class="text-primary fw-bold fs-3 text-center">Login</p>
    </div>
    <form (ngSubmit)="login()" [formGroup]="loginForm" autocomplete="off">
      <div class="mb-3">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput placeholder="pepe123" formControlName="username" required>
          <mat-error *ngIf="isFieldInvalid('username')">El campo es requerido</mat-error>
        </mat-form-field>
      </div>
      <div class="mb-3">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="******" formControlName="password" required>
          <mat-error *ngIf="isFieldInvalid('password')">El campo es requerido</mat-error>
        </mat-form-field>
      </div>
      <div class="row d-flex justify-content-center">
        <button [disabled]="loginForm.invalid" type="submit" mat-fab extended color="primary">
          <mat-icon>login</mat-icon>
          Login
        </button>
      </div>
    </form>
  </div>
</section>
